/* Add this CSS code within the <style> tag in the <head> of your HTML document */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* Increase the width for a better layout */
}

.login-title {
    font-size: 28px; /* Increase font size for the title */
    margin-bottom: 20px;
    font-weight: bold;
    background-color: #b76bc5;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.login-button {
    background-color: #ff7f7f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.image-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image {
    width: 312px;
    height: auto;
    margin: auto;
    border: 4px solid #b76bc5; /* Add a border around the image */
    border-radius: 8px;
}

.image-text {
    font-size: 28px; /* Increase font size for the image text */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #b76bc5; /* Match the background color of the title */
}

.visit-count {
    font-size: 18px;
    text-align: center;
    color: #555; /* Darken the color of the visit count */
}
